$primaryOrange: hsl(26, 100%, 55%);
$primaryPaleOrange: hsl(25, 100%, 94%);

$veryvarkblue: hsl(220, 13%, 13%);
$darkgrayish : hsl(219, 9%, 45%);
$grayishblue: hsl(220, 14%, 75%);
$lightgrayish: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%); // (with 75% opacity for lightbox background)

$light: 400;
$bold: 700;